**/.dockerignore
**/.env
**/.git*
**/.vs
**/.vscode
**/.idea
**/*.md
**/*.sql
**/bin
**/obj
**/docker-compose*
**/Dockerfile*
**/*.DotSettings.user
**/launchSettings.json
*.service
Shared/Examples/
Twitch/test/
