[Unit]
Description=Trace - Twitch Logger
After=network-online.target

[Service]
User=tera
Type=notify
SyslogIdentifier=trace
WorkingDirectory=/opt/trace/bin/current
ExecStart=/opt/trace/bin/current/Trace
Restart=always
Environment="DOTNET_ENVIRONMENT=Production"
Environment="Tmi__Login=tera_"
Environment="Tmi__Token=x"
Environment="Db__ConnectionString=Host=localhost;Database=trace;Username=user;Password=pass;Include Error Detail=true;Command Timeout=30"
Environment="PubSub__Token=x"
Environment="Seq__ApiKey=x"

[Install]
WantedBy=multi-user.target
