[Unit]
Description=Trace - Twitch Logger
After=network-online.target

[Service]
User=trace
Type=notify
SyslogIdentifier=trace
WorkingDirectory=/opt/trace/bin/current
ExecStart=/opt/trace/bin/current/Trace
Restart=always
Environment="ASPNETCORE_ENVIRONMENT=Production"
Environment="Vault__IsEnabled=True"
Environment="Vault__Token=x"

[Install]
WantedBy=multi-user.target
