[Unit]
Description=Twitch Logger
After=network-online.target

[Service]
User=tera
Type=notify
SyslogIdentifier=twitchlogger
WorkingDirectory=/opt/twitchlogger/bin/publish
ExecStart=/opt/twitchlogger/bin/publish/TwitchLogger
Restart=always
Environment="DOTNET_ENVIRONMENT=Production"
Environment="Db__ConnectionString=Host=localhost;Port=5432;Database=twitchlogger;Username=postgres;Password=example;Include Error Detail=true"
Environment="PubSub__Token=x"
Environment="Seq__ServerUrl=x"
Environment="Seq__ApiKey=x"

[Install]
WantedBy=multi-user.target
