[Unit]
Description=Twitch Logger
After=network-online.target

[Service]
User=tera
Type=notify
SyslogIdentifier=twitchlogger
WorkingDirectory=/opt/twitchlogger/bin
ExecStart=/opt/twitchlogger/bin/TwitchLogger
Restart=always
Environment="DOTNET_ENVIRONMENT=Production"
Environment="DB_STRING=Host=localhost;Database=twitchlogger;Username=postgres;Password=example"
Environment="PubSub__Token=x"
Environment="Chat__MessageSourceName=TwitchLogger"

[Install]
WantedBy=multi-user.target
